<script>

$(function () {

  function nextTurn() {
    let whoseTurn = $( ".whose-turn" );
    jQuery.data( whoseTurn, "updatedTurn", {
      first: "Your Turn",
      last: "Your Opponent's Turn!"
    });
    if(whoseTurn.html() === "Your Turn") {
      $(whoseTurn.html( jQuery.data( whoseTurn, "updatedTurn" ).last ));
    } else if(whoseTurn.html() === "Your Opponent's Turn!") {
      $(whoseTurn.html( jQuery.data( whoseTurn, "updatedTurn" ).first ));
    }
  }

  $(function () {
    $('.player-pieces').draggable({
      snap: '.square',
      start: function(e, ui) {
        if($(".whose-turn" ).html() === "Your Opponent's Turn!") {
          e.preventDefault();
        }
      }
    });

    $('.square').droppable({
      drop: function( event, ui ) {
        const square = this
        const icon = ui.draggable
        const sq_rank = $(square).data('rank')
        const sq_file = $(square).data('file')
        $.ajax({
          type: 'PUT',
          url: icon.data('update-url'),
          dataType: 'json',
          data: { piece: { rank: sq_rank, file: sq_file } }
        }).done(nextTurn())
      }
    });
  });

  $('.piece-icon').each( function() {
    var o = $(this);
    if( ! o.attr('title') && o.attr('alt') ) o.attr('title', o.attr('alt') );
  });

});
  
</script>

<div class="row">

  <div class="col-8 placeholder">

    <!-- Game Selection Modal or Drop-down -->

    <div class="placeholder">
      <p>Game Name + Game Selector Drop Down or Modal</p>
    </div>

    <!-- Game Board -->

    <div class="chessboard">

      <div class="grid">
        <% sq_file = 0 %>
        <% sq_rank = 9 %>
        <% 8.times do %>
          <% sq_rank = sq_rank - 1 %>
          <% 8.times do %>
            <% sq_file = sq_file + 1 %>
            <div class="square" data-rank="<%= sq_rank %>" data-file="<%= sq_file %>">
              <% current_game.pieces.each do |piece| %>
                <% if piece.rank == sq_rank && piece.file == sq_file %>
                  <% if current_user == piece.user %>
                    <div class="player-pieces" data-update-url="<%= piece_path piece %>">
                  <% else %>
                    <div class="opponent-pieces">
                  <% end %>
                  <%= image_tag("#{piece.color}-#{piece.type}.png", class: 'piece-icon', alt: "#{piece.color.capitalize} #{piece.type}") %>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <br />
          <% sq_file = 0 %>
        <% end %>
      </div>

    </div>

    <!-- Challenges Feed -->

    <div class="placeholder">
      <p>Challenges Feed/Current Games List</p>
    </div>
  </div>

  <div class="col-4 placeholder">

    <!-- Player Name Display -->

    <div class="placeholder">
      <h1>White Player</h1> <h3>vs.</h3> <h1>Black Player</h1>
    </div>

    <div class="placeholder">
      <h4 class="whose-turn"><%= @turn %></h4>
      <p><%= @game.turn %></p>
    </div>

    <!-- Captured Pieces Display -->

    <div class="placeholder captured-display">
      <p>Captured Pieces Display</p>
    </div>

    <!-- Surrender button and modal -->

    <div class="show-button">
      <button>Surrender</button>
    </div>

    <!-- Truce button and modal -->

    <div class="show-button">
      <button>Truce</button>
    </div>

    <!-- Cute image and possibly check/checkmate indicator? -->

    <div class="placeholder show-image">
      <p>Image</p>
    </div>

  </div>

</div>

